{% extends "baseadmin.html" %}
{% block content %}
<form id="user_form" action="/member/input_user" method="post">
    <ul>
        <li><label>*用户名</label><input type="text" id="username" name="username" value="{{user.usernme}}"/></li>
        <li><label>*密码</label><input type="password" id="password" name="password" value=""/></li>
        <li><label>*姓名</label><input type="text" id="real_name" name="real_name" value="{{user.real_name}}"/></li>
        <li><label>*手机</label><input type="text" id="phone" name="phone" value="{{user.phone}}"/></li>
        <li><label>*邮箱</label><input type="text" id="email" name="email" value="{{user.email}}"/></li>
        <li><label>*qq</label><input type="text" id="qq" name="qq" value="{{user.qq}}"/></li>
    </ul>
</form>
<button id="submit-user-btn">提交</button>
<script type="application/javascript">
require(["jquery","functions","form"], function($,functions) {
    $(function() {
    	$('#submit-user-btn').click(function(){
                	$("#user_form").ajaxForm({
	                    dataType : "json",
	                    success: function(data) {
	                        window.location = "/member/users";
	                    }
	                }).submit();
                });
    });
});
</script> 
{% endblock %}