{% extends "baseheadpic.html" %}
{% block content %}
<p>我们保证我们的雇员和我方服务人员依法正确获得、使用和处理用户个人信息。为此，我们保证严格遵守国际通行隐私保护标准。除当地法律对此有更严格的限制条款外，此条款适用于全球范围。</p>
<p>我们承诺做到如下几点：</p>
<p>1、严格遵守正确收集和使用用户个人信息条款；履行法律责任，明确使用用户信息目的；数据特殊保护说明中明确规定要保护用户个人信息，见网站：www.sipo.gov.cn/sipo/；根据网站所需依法正确收集和处理用户个人信息；确保个人信息的正确；审核决定保存用户信息的时间限度；确保用户能依法行使个人权利；实施技术和组织安全措施保护用户个人信息。</p>
<p>2、用户在向网站提前个人信息前，我们努力确保让用户了解以下几点：收集信息的目的；信息的用途；任何接受信息一方的身份和他们使用信息的目的；如何申请复制提交的个人信息。</p>
<p>3、我们对我们所连链接的网站不负隐私保护的责任，此声明只适用于在本网站注册的个人用户。</p>
<p>4、我们的IP地址只用于分析趋势、管理网站、跟踪用户活动和收集信息，不用于可识别个人信息的查询。</p>
<p>5、此外，我们使用cookies用于用户兴趣追踪，以便提高网站的服务水平。即便您的浏览器拒绝cookies，您依然可以登陆我们的网站。</p>
{% endblock %}
