 <div class="small-padding gray-background-color">
    <form id="tb_users_search" name="tb_users_search">
        <label>
            <span class="pull-left mini-width text-right">用户名：</span>
            <input type="text" name="username" class="small-width input-small" id="username"></label>
        <label>
            <span class="pull-left mini-width text-right">姓名：</span>
            <input type="text" name="real_name" class="small-width input-small" id="real_name"></label>                
            <a id="search" class="btn btn-primary" href="javascript:void(0)">查询</a>
    </form>
</div>
<table id="tb_users" data-search="tb_users_search" class="table table-striped" ></table>