{% extends "baseadmin.html" %}
{% block content %}
<label>房型管理</label>>><label>房型列表</label>
<table id="tb_room_types" data-search="tb_room_types_search" class="table table-striped" ></table>
<script type="text/javascript">
    require(["jquery","functions","table","form"], function($,functions,table) {
        $(function() {
             var o =  {
                "initData" :{{table.get_rows|safe}},
                "aoColumns":{{table.get_columns|safe}},
                "sAjaxSource": '/room/room_types.table',
                "buttons": [{'type':'add','text':'新增','url':'/room/room_type/add'},{'type':'del','text':'删除','url':'/room/delete_room_types'}],
                "actions":[{
                    type:"view",
                    text:"详情",
                    url:"/room/room_type/detail",
                    style: 'restful',
                    target: '_blank',
                    iconClass:'icon-detail icon-color'
                },{
                    type:'order',
                    text:"预订",
                    iconClass:'icon-detail icon-color',
                    click:function(data){
                        //window.open("/admin/#/order/"+data.aData[0]+"/order");
                        functions.base.load_page("/order/"+data.aData[0]+"/order");
                    }
                },{
                    type:"edit",
                    text:"编辑",
                    url:"/room/room_type/edit",
                    style: 'restful',
                    target: '_blank',
                    iconClass:'icon-edit icon-color'
                },{
                    type:"delete",
                    text:"删除",
                    url:"/room/delete_room_types",
                    style: 'restful',
                    iconClass:'icon-detail icon-color'
                }]
            }; 
            var t = new table.Table('tb_room_types',o);
            t.drawTable();
            $('#search').click(function(){
                t.search();
            });
        });
    });
</script>
{% endblock %}