{% extends "baseadmin.html" %}
{% block content %}
<label>房间管理</label>>><label>房间列表</label>
 <div class="small-padding gray-background-color">
    <form id="tb_rooms_search" name="tb_rooms_search">
        <label>
            <span class="pull-left mini-width text-right">名称：</span>
            <input type="text" name="name_like" class="small-width input-small" id="name_like"></label>
        <label>
            <span class="pull-left mini-width text-right">房号：</span>
            <input type="text" name="sn" class="small-width input-small" id="sn"></label>                
            <a id="search" class="btn btn-primary" href="javascript:void(0)">查询</a>
    </form>
</div>
<table id="tb_rooms" data-search="tb_rooms_search" class="table table-striped" style="width: 100%"></table>
<script type="text/javascript">
    require(["jquery","functions","table","form"], function($,functions,table) {
        $(function() {
             var o =  {
                "initData" :{{table.get_rows|safe}},
                "aoColumns":{{table.get_columns|safe}},
                "sAjaxSource": '/room/rooms.table',
                "buttons": [{'type':'add','text':'新增','url':'/room/add'},{'type':'del','text':'删除','url':'/room/delete_rooms'},{'type':'export','text':'导出','url':'/room/rooms.csv'},
               {'type':'import','text':'导入','url':'/room/import_rooms'}, {'text':'下载导入范例','url':'/static/room/room.csv'}, {'text':'房间类别管理','url':'/room/room_types'}],
                "actions":[{
                    type:"view",
                    text:"详情",
                    url:"/room/detail",
                    style: 'restful',
                    target: '_blank',
                    iconClass:'icon-detail icon-color'
                },{
                    type:"edit",
                    text:"编辑",
                    url:"/room/edit",
                    style: 'restful',
                    target: '_blank',
                    iconClass:'icon-edit icon-color'
                },{
                    type:"delete",
                    text:"删除",
                    url:"/room/delete_rooms",
                    style: 'restful',
                    iconClass:'icon-detail icon-color'
                }]
            }; 
            var t = new table.Table('tb_rooms',o);
            t.drawTable();
            $('#search').click(function(){
                t.search();
            });
        });
    });
</script>
{% endblock %}