{% load url from future %}
<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link media="screen" href="/static/plugin/bootstrap/css/bootstrap.css" rel="stylesheet">
	<!--link media="screen" href="/static/base/css/reset.css" rel="stylesheet"-->
	<!--link media="screen" href="/static/base/css/bootstrap-modified.css" rel="stylesheet"-->
	<link media="screen" href="/static/base/com/tree/jquery.tree-1.3.css" rel="stylesheet">
	<link media="screen" href="/static/base/com/multipleSelect/multiple-select.css" rel="stylesheet">
	<link media="screen" href="/static/base/com/multiselect2side/jquery.multiselect2side.css" rel="stylesheet">
	<link media="screen" href="/static/base/com/tipped/tipped.css" rel="stylesheet">
	<link media="screen" href="/static/base/com/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
	<link media="screen" href="/static/base/com/select2/select2.css" rel="stylesheet">
	<link media="screen" href="/static/base/com/svgMap/svgMap.css" rel="stylesheet">
	<link media="screen" href="/static/base/com/multistatusbar/jquery-ui-multistatusbar.css" rel="stylesheet">
	<link media="screen" href="/static/base/com/datatables/DT_bootstrap.css" rel="stylesheet">
	<link media="screen" href="/static/base/com/datatables/ColVis.css" rel="stylesheet">
	<link media="screen" href="/static/base/com/formeter/formeter.1.1.css" rel="stylesheet">
	<link media="screen" href="/static/base/com/smartAutoComplete/jquery.smart_autocomplete.css" rel="stylesheet">
	<link media="screen" href="/static/base/com/smartWizard/smart_wizard.css" rel="stylesheet">
	<link media="screen" href="/static/base/com/fileupload/jquery.fileupload.css" rel="stylesheet">
	<link media="screen" href="/static/base/css/style_.css" rel="stylesheet">
	<link media="screen" href="/static/base/css/style.css" rel="stylesheet">
	<script type="text/javascript" src="/static/base/js/require-config.js"></script>
	<script type="text/javascript" src="/static/base/com/require-jquery1.9-migrate1.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/plugin/bootstrap/js/bootstrap.min.js"></script>

	<link media="screen" href="/static/plugin/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link media="screen" href="/static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/plugin/bootstrap/css/bootstrap-theme.min.css">
	<link media="screen" href="/static/css/theme.css" rel="stylesheet">
	<link media="screen" href="/static/css/base.css" rel="stylesheet">
	<title>道县万豪假日酒店官方网站|最低房价保证，更多优惠服务</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="道县万豪假日酒店，道县酒店，道县五星级酒店，道县5星级酒店，道县靠海酒店，道县度假酒店，道县酒店预订，道县酒店预定，道县商务酒店" name="keywords">
	<meta content="道县万豪假日酒店官方网站预订，价格最优，更多优惠。道县万豪假日酒店屹立于道县最为繁华的商业地带，是商务旅行和休闲度假的首选之地。" name="description">
</head>
<body role="document">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href='/'><img class="navbar-brand-logo" src="/static/base/images/LOGO.jpg" alt='首页'/></a>
				<a class='navbar-item pull-left' href="javascript:void(0)" onclick="javascript:addFavorite2()">收藏</a>
			</div>
			<div class="navbar-header-right">
				<span id="member-entrance" class="navbar-item pull-right">
					<img src="/static/base/images/icon-crown.png" width="12" height="12">&nbsp;&nbsp;
					{%if request.user.is_authenticated%}
					<a href='/member/center'>{{request.user.real_name}}</a>
					{%if request.user.is_superuser%}|<a href='/admin'>后台</a>{%endif%}
					<label>|
						<a href='/member/logout'>注销</a>{%else%}
						<a href="javascript:;" id="show-login-btn" >登录</a>|<a href="javascript:;" id="show-regist-btn" >注册</a>
						{%endif%}
					</span>
				</div>
			</div>
		</nav>
		<div class="main">
			<div class="main-left">
				<div class="main-left-up-panel">			
					<ul class="subtitle">
						<li class="subitem">
							<a href="/hotel" id="a_hotel" >
								<b>酒店介绍</b>
							</a>
						</li>
						<li class="subitem">
							<a href="/rooms" id="a_rooms" >
								<b>房间住宿</b>
							</a>
						</li>
						<li class="subitem">
							<a href="/special_offers" id="a_special_offers" >
								<b>图文活动</b>
							</a>
						</li>
					</ul>
				</div>
				<div class="main-left-introduction">
					<p class="middle">
						<strong>电话：</strong>
						<span>(86 756) 0000 000 </span>
					</p>
					<p class="middle">
						<strong>传真：</strong>
						<span>(86 756) 0000 000</span>
					</p>
					<p class="middle">
						<strong>邮件：</strong>
						<span>
							<a href="mailto:345471536@qq.com" title="点击发送邮件到这个地址" rel="nofollow">345471536@qq.com</a>
						</span>
					</p>
					<p class="middle">
						<strong>地址：</strong>
						<span>中国湖南永州道县</span>
					</p>
					<p class="middle">
						<a href="map.html">
							<span>查看地图</span>
						</a>
					</p>
				</div>
			</div>
			<div class="main-content">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="/static/base/images/photos/photo1.jpg" alt="First slide">
						</div>
						<div class="item">
							<img src="/static/base/images/photos/photo2.jpg" alt="Second slide">
						</div>
						<div class="item">
							<img src="/static/base/images/photos/photo3.jpg" alt="Third slide">
						</div>
					</div>
					<!--a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a-->
				</div>
			</div>
		</div>
		<div class="wrap"></div>
		<div class="main">
			{% block content %} base.html {% endblock %}
		</div>
		<div class="footer">
			<div class="footer-nav"> <a href="/site_map.html" class="newfooter-nav">网站地图</a>|<a href="/contactus.html" class="newfooter-nav">联系我们</a>|<a href="/recruit.html" class="newfooter-nav">工作机会</a>|<a href="/privacy.html" class="newfooter-nav">隐私条款</a>|<a href="/usage_clause.html" class="newfooter-nav">使用条款</a> </div>
			<div class="site-info">        
				<div class="site-r">
					<p class="copy-address">中国湖南道县</p>
					<span> 电话： (86 123) 1234 123</span><span class="email">电子邮件: <a rel="nofollow" href="mailto:daox@ad.com">daox@ad.com</a></span>
				</div>
				<div class="site-l">
					<span class="copy_right">版权所有：道县假日酒店</span> 
					<span class="copy-icp"><a target="_blank" href="http://www.miibeian.gov.cn/">赣ICP备 1342423号-1</a></span>
				</div>
			</div>
		</div>
		{%include 'component/login_regist.htm' %}
		<script type="text/javascript">
	    	$(
	    		function(){
	    			$('.carousel').carousel({
					  interval: 4000
					})
	    		}
	    	);
	    </script>
	</body>
	</html>