{% extends "baseheadpic.html" %}
{% block content %}
			<div class="main-textround">
				<div >
					<p></p>
					<p>
						<span style="color:#333333;">道县万豪假日酒店位于道县最为繁华的商业地带，主楼楼高十四层，贵宾楼楼高十九层，背靠苍翠欲滴的将军山，面临碧波浩淼的南中国海，雅致的波浪型楼体设计，把酒店自然融入宁静安逸的港湾，犹如永州情侣路上香炉湾畔的璀璨明珠。同时，酒店紧靠商业娱乐购物中心，与拱北海关和九洲港码头近在咫尺，便利的水陆交通直抵永州机场、香港、澳门以及珠江三角洲各大城市，让永州海湾大酒店成为商务旅行和休闲度假的首选之地。</span>
					</p>
					<p></p>
					<p class="button-more-text">
						<a rel="nofollow" href="/hotel">更多详情 >></a>
					</p>
				</div>
			</div>
{% endblock %}

