<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link media="screen" href="/static/plugin/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link media="screen" href="/static/base/css/style_.css" rel="stylesheet">
	<script type="text/javascript" src="/static/base/js/require-config.js"></script>
    <script type="text/javascript" src="/static/base/com/require-jquery1.9-migrate1.1.js"></script>
	<title>道县万豪假日酒店官方网站|最低房价保证，更多优惠服务</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="道县万豪假日酒店，道县酒店，道县五星级酒店，道县5星级酒店，道县靠海酒店，道县度假酒店，道县酒店预订，道县酒店预定，道县商务酒店" name="keywords">
	<meta content="道县万豪假日酒店官方网站预订，价格最优，更多优惠。道县万豪假日酒店屹立于道县最为繁华的商业地带，是商务旅行和休闲度假的首选之地。" name="description">
</head>
<body class="index_background">
	<div class="wrapper">
		<div class="header" >
			<div class="logo"><a href='/'><img src="/static/base/images/LOGO.jpg" alt='首页' width="218" height="46"></a></div>
			<div style="float:right;position:relative;right:1%;top:10px;">
				<span id="member-entrance">
					<img src="/static/base/images/icon-crown.png" width="12" height="12">&nbsp;&nbsp;
					<a href="javascript:;" id="show-login-btn" data-logined={%if request.user.is_authenticated%}true{%else%}false{%endif%} data-superuser={%if request.user.is_superuser%}true{%else%}false{%endif%} >登录</a>|
					<a href="javascript:;" id="show-regist-btn" >注册</a>| 
					<a href="javascript:void(0)">收藏</a>				
				</span>			
			</div>
		</div>
		<div class="main">
			<div class="indexs">
				<div>			
					<ul class="indexs">
						<li>
							<a href="/hotel" id="a_hotel" >
								<span>酒店介绍</span>
							</a>
						</li>
						<li>
							<a href="/rooms" id="a_rooms" >
								<span>房间住宿</span>
							</a>
						</li>
						<li>
							<a href="/special_offers" id="special_offers" >
								<span>图文活动</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="contact-us-panel">
				<p class="middle">
					<strong>电话：</strong>
					<span>(86 756) 0000 000 </span>
				</p>
				<p class="middle">
					<strong>传真：</strong>
					<span>(86 756) 0000 000</span>
				</p>
				<p class="middle">
					<strong>邮件：</strong>
					<span>
						<a href="mailto:345471536@qq.com" title="点击发送邮件到这个地址" rel="nofollow">345471536@qq.com</a>
					</span>
				</p>
				<p class="middle">
					<strong>地址：</strong>
					<span>中国湖南永州道县</span>
				</p>
				<p class="middle">
					<a href="map.html">
						<span>查看地图</span>
					</a>
				</p>
			</div>
			<div class="photos">
				<img src="/static/content/images/photo1.jpg"></img>
			</div>
		</div>
		<div class="content" id='main'>
			<div>
				<div >
					<p></p>
					<p>
						<span style="color:#333333;">道县万豪假日酒店位于道县最为繁华的商业地带，主楼楼高十四层，贵宾楼楼高十九层，背靠苍翠欲滴的将军山，面临碧波浩淼的南中国海，雅致的波浪型楼体设计，把酒店自然融入宁静安逸的港湾，犹如永州情侣路上香炉湾畔的璀璨明珠。同时，酒店紧靠商业娱乐购物中心，与拱北海关和九洲港码头近在咫尺，便利的水陆交通直抵永州机场、香港、澳门以及珠江三角洲各大城市，让永州海湾大酒店成为商务旅行和休闲度假的首选之地。</span>
					</p>
					<p></p>
					<p class="button-more-text">
						<a rel="nofollow" href="about_hotel.html">更多详情 >></a>
					</p>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-nav"> <a href="site_map.html" class="newfooter-nav">网站地图</a>|<a href="contact_hotel.html" class="newfooter-nav">联系我们</a>|<a href="career.html" class="newfooter-nav">工作机会</a>|<a href="privacy.html" class="newfooter-nav">隐私条款</a>|<a href="usage_clause.html" class="newfooter-nav">使用条款</a> </div>
			<div class="site-info">        
				<div class="site-r">
					<p class="copy-address">中国湖南道县</p>
					<span> 电话： (86 123) 1234 123</span><span class="email">电子邮件: <a rel="nofollow" href="mailto:daox@ad.com">daox@ad.com</a></span>
				</div>
				<div class="site-l">
					<span class="copy_right">版权所有：道县假日酒店</span> 
					<span class="copy-icp"><a target="_blank" href="http://www.miibeian.gov.cn/">赣ICP备 1342423号-1</a></span>
				</div>
			</div>
		</div>
	</div>

<div id="pop-login-content" class="floatblock popup-module common_window" style="display: none;">
    <div class="popup-content">
        <h3 class="popup-content-title">会员登录</h3>
        <form id="pop-login-form1" action="/member/login/" method="post">
            {% csrf_token %}
             <fieldset>
                <dl>
                    <dd>
                        <label class="pop-title" for="pop-login-account">用户名：</label>
                        <input type="text" class="validate[empty] input input-text" id="pop-login-account" name="username">
                        <span class="text-error-info text-error-pop-login-account" style="display:none;"></span><span class="form-error">请输入您的用户名!</span> </dd>
                    <dd>
                        <label class="pop-title" for="pop-login-password">密码：</label>
                        <input type="password"  class="validate[empty] input input-text" id="pop-login-password" name="password">
                        <span class="text-error-info text-error-pop-login-password" style="display:none;"></span><span class="form-error">请输入密码!</span> </dd>
                    <dd class="pop-submit-application">
                        <a href="javascript:;" class="button-without-text button-first-type pop-login-submit" id="login-submit-btn">登录<i class="button-left"></i><i class="button-right"></i></a>
                        <a href="javascript:;" class="button-without-text button-first-type pop-login-cancer" id="regist-cancel-btn">取消<i class="button-left"></i><i class="button-right"></i></a>
                    </dd>
                </dl>
            </fieldset>
        </form>
    </div>
</div>

<div id="pop-regist-content" class="floatblock" style="display: none;">
    <div class="popup-content">
        <h3 class="popup-content-title">会员注册</h3>
        <form id="pop-regist-form1" action="/member/regist/" method="post">
            {% csrf_token %}
             <fieldset>
                <dl>
                    <dd>
                        <label class="pop-title" for="pop-regist-account">*用户名：</label>
                        <input type="text" class="validate[empty] input input-text" id="pop-regist-username" name="username">
                        <span class="text-error-info text-error-pop-regist-account" style="display:none;"></span><span class="form-error">请输入您的用户名!</span> </dd>
                    <dd>
                        <label class="pop-title" for="pop-regist-password">*密码：</label>
                        <input type="password"  class="validate[empty] input input-text" id="pop-regist-password" name="password">
                        <span class="text-error-info text-error-pop-regist-password" style="display:none;"></span><span class="form-error">请输入密码!</span> </dd>
                     <dd>
                        <label class="pop-title" for="pop-regist-password">*重复密码：</label>
                        <input type="password"  class="validate[empty] input input-text" id="pop-regist-repeat-password">
                        <span class="text-error-info text-error-pop-regist-password" style="display:none;"></span><span class="form-error">再次输入密码!</span> </dd>
                     <dd>
                        <label class="pop-title" for="pop-regist-password">*手机：</label>
                        <input type="text"  class="input input-text" id="pop-phone" name="phone">
                        <span class="text-error-info text-error-pop-regist-password" style="display:none;"></span><span class="form-error">输入10-20位手机</span> </dd>
                    <dd>
                        <label class="pop-title" for="pop-regist-password">*真实姓名：</label>
                        <input type="text"  class="input input-text" id="pop-realname" name="realname">
                        <span class="text-error-info text-error-pop-regist-password" style="display:none;"></span><span class="form-error">输入真实姓名</span> </dd>
                    <dd>
                        <label class="pop-title" for="pop-regist-password">QQ：</label>
                        <input type="text"  class="input input-text" id="pop-qq" name="qq">
                        <span class="text-error-info text-error-pop-regist-password" style="display:none;"></span><span class="form-error">输入5-15位数字QQ号码</span> </dd>
                    <dd>
                        <label class="pop-title" for="pop-regist-password">Email：</label>
                        <input type="text"  class="input input-text" id="pop-email" name="email">
                        <span class="text-error-info text-error-pop-regist-password" style="display:none;"></span><span class="form-error">输入正确Email地址</span> </dd>
                    <dd class="pop-submit-application">
                        <a href="javascript:;" class="button-without-text button-first-type pop-regist-submit" id="regist-submit-btn">注册<i class="button-left"></i><i class="button-right"></i></a>
                        <a href="javascript:;" class="button-without-text button-first-type pop-regist-cancer" id="regist-cancel-btn">取消<i class="button-left"></i><i class="button-right"></i></a>
                    </dd>
                </dl>
            </fieldset>
        </form>
    </div>
</div>

	<script type="text/javascript">
		require(["jquery","functions","form"], function($) {
			$(function() {
				//window.functions=functions;
				//functions.base.load_anchor();
				//functions.base.set_all_aclick();
				$('#show-login-btn').click(function(){
	                //alert("展示登录框");
	                $("#pop-login-content").css({
	                	'top': 100,
	                	'left': 350,
	                });
	                $("#pop-login-content").show();
	            });
				function show_loginon_label(username,backend){
					$("#pop-login-content").hide();
					$("#member-entrance").html("<label><a href='/member/center'>"+username+"</label>");
					if (backend){
						$("#member-entrance").append("|<label><a href='/admin'>后台主页</a></label>");
					}
					$("#member-entrance").append("|<label><a href='/member/logout'>注销</a></label>");
				}
				if ($("#show-login-btn").data("logined")){
					show_loginon_label("{{request.user.username}}",$("#show-login-btn").data("superuser"));
				}
				$('#login-submit-btn').click(function(){
					$("#pop-login-form1").ajaxForm({
						data : {},
						dataType : "json",
						success: function(data) {
							show_loginon_label(data.username,data.backend);
						}
					}).submit();
				});
                $('#regist-cancel-btn').click(function(){
                    $("#pop-login-content").hide();
                });
				$('#show-regist-btn').click(function(){
	                //alert("展示注册框");
	                $("#pop-regist-content").css({
	                	'top': 100,
	                	'left': 350,
	                });
	                $("#pop-regist-content").show();
	            });

				$('#regist-submit-btn').click(function(){
					if ($("#pop-regist-repeat-password").val()!=$("#pop-regist-password").val()){
						alert("两次输入的密码必须一致！")
					}
					$("#pop-regist-form1").ajaxForm({
						data : {},
						dataType : "json",
						success: function(data) {
							alert("注册成功，欢迎登录");
							window.location=location;
                            //show_loginon_label(data.username,data.backend);
                        }
                    }).submit();
				});
			});
	});
	</script>
</body>
</html>
