 <div class="small-padding gray-background-color">
    <form id="tb_articles_search" name="tb_articles_search">
        <label>
            <span class="pull-left mini-width text-right">标题：</span>
            <input type="text" name="article_like" class="small-width input-small" id="article_like" value="{{form.article_like.value}}"></label>
            <a id="search" class="btn btn-primary" href="javascript:void(0)">查询</a>
    </form>
</div>
<table id="tb_articles" data-search="tb_articles_search" class="table table-striped" ></table>