<form id="article_form" action="/article/add_article" method="post">
    <label id="article_form_errmsg"></label>
    <ul>
        <li><label>*标题</label><input type="text"  id="title" name="title" value="{{article.title}}"/></li>
        <li><label>*内容</label><input type="text" id="content" name="content" value="{{article.content}}"/></li>
        <li><label>*图片</label><input type="text" id="picture" name="picture" value="{{article.picture|default_if_none:''}}"/></li>
    </ul>
    <button id="submit-article-btn">提交</button>
 </form>