
.meter, .rainbow, .red, .gray, .green, .orange, .skyblue {
    height:28px;
    line-height:28px;
    display:block;    
    border-radius: 3px; 
    -moz-border-radius:3px; 
    -webkit-border-radius:3px;
    text-align:right;
    font-size:12px;
    color: #000000;
}
.meter { 
    clear:both;  
    position:relative;     
    border:1px solid #ddd;
    padding:1px;     
    box-shadow: 1px 1px 1px #f5f5f5;
    margin:0;  
    background:url('bar_grad.gif') repeat-x 0 -4px;
    margin: auto;
    x-width:400px; /* edit here to change the progress bar height. Max width for rainbow style is 400px */
    x-float:left;
}
.meter div {
    
}

.rainbow, .red, .gray, .green, .orange, .skyblue {
    width:0;
    position: relative;
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
    -o-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background: -webkit-gradient(linear, 0 0, 44 44, color-stop(0, rgba(255, 255, 255, 0.17)), color-stop(0.25, rgba(255, 255, 255, 0.17)), color-stop(0.26, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.51, rgba(255, 255, 255, 0.17)), color-stop(0.75, rgba(255, 255, 255, 0.17)), color-stop(0.76, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0.35)));
    background: -moz-repeating-linear-gradient(top left -30deg, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.17) 15px, rgba(255, 255, 255, 0) 15px, rgba(255, 255, 255, 0) 30px), -moz-linear-gradient(rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
}
.static{
    background-image:none !important;
    background-image: -webkit-gradient(linear, 0 0, 44 44, color-stop(0, rgba(255, 255, 255, 0.17)), color-stop(0.25, rgba(255, 255, 255, 0.17)), color-stop(0.26, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.51, rgba(255, 255, 255, 0.17)), color-stop(0.75, rgba(255, 255, 255, 0.17)), color-stop(0.76, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0.35))) !important;
    background-image: -moz-repeating-linear-gradient(top left -30deg, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.17) 15px, rgba(255, 255, 255, 0) 15px, rgba(255, 255, 255, 0) 30px), -moz-linear-gradient(rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%) !important;
}
.green{
    background:url('formeter.gif') repeat-x left top;
}
.meter .rainbow { 
    height:16px;
    background: transparent url('../assets/pbar.png') repeat-y 0 0;
    -webkit-background-size: 100% 40px; /* Safari fix */    
}
.meter .red {  
    background-color: #e70000;
}
.meter .green {
    background-color: #14c631; 
}
.meter .gray {    
    background-color: #909090;;
}
.meter .orange {
    background-color: #ff8503;
}
.meter .skyblue {
    background-color: #00afdc;
}


.bubble { 
    position:absolute; 
    text-align:center;
    top:35px; 
    left:0;  
    height:16px;
    line-height:16px;   
    padding:0 6px;
    border-radius:4px;
    border:1px solid #e0e0e0;
    font-size:10px;
    color: #ff8503;
    font-weight:600;
    background-image: linear-gradient(bottom, rgb(236,236,236) 39%, rgb(255,255,255) 85%);
    background-image: -o-linear-gradient(bottom, rgb(236,236,236) 39%, rgb(255,255,255) 85%);
    background-image: -moz-linear-gradient(bottom, rgb(236,236,236) 39%, rgb(255,255,255) 85%);
    background-image: -webkit-linear-gradient(bottom, rgb(236,236,236) 39%, rgb(255,255,255) 85%);
    background-image: -ms-linear-gradient(bottom, rgb(236,236,236) 39%, rgb(255,255,255) 85%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(236,236,236)),
        color-stop(0.85, rgb(255,255,255))
        );
}

.arrow {
    border-color: transparent transparent #ccc transparent;
    border-style: solid;
    border-width: 5px;
    height:0;
    width:0;
    position:absolute;
    left:5px;
    top:-10px;
    z-index:100;
    _display:none;
}
.arrow-center {
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 6px;
    height:0;
    width:0;
    position:absolute;
    z-index:100;
    top:-10px;
    left:4px;
    _display:none;
}
.bubblecenter{
    color:#000;
    position: absolute;
    left:50%;
    top:50%;
}
.bubblecenter .percent{
    margin-left:-15px;
    margin-top:-15px;
    height: 30px;
    line-height:30px;
}