{% extends "baseadmin.html" %}
{% block content %}
<label>文章管理</label>>><label>文章列表</label>
 <div class="small-padding gray-background-color">
    <form id="tb_articles_search" name="tb_articles_search">
    	{% csrf_token %}
        <label>
            <span class="pull-left mini-width text-right">标题：</span>
            <input type="text" name="article_like" class="small-width input-small" id="article_like" value="{{form.article_like.value}}"></label>
            <a id="search" class="btn btn-primary" href="javascript:void(0)">查询</a>
    </form>
</div>
<table id="tb_articles" data-search="tb_articles_search" class="table table-striped" ></table>
<script type="text/javascript">
    require(["jquery","functions","table","form"], function($,functions,table) {
        $(function() {
             var o =  {
                "initData" :{{table.get_rows|safe}},
                "aoColumns":{{table.get_columns|safe}},
                "sAjaxSource": '/article/articles.table',
                "buttons": [{'type':'add','text':'新增','url':'/article/add'},{'type':'del','text':'删除','url':'/article/delete_articles$'}],
                "actions":[{
                    type:"view",
                    text:"详情",
                    url:"/article/detail",
                    style: 'restful',
                    target: '_blank',
                    iconClass:'icon-detail icon-color'
                },{
                    type:"edit",
                    text:"编辑",
                    url:"/article/edit",
                    style: 'restful',
                    iconClass:'icon-edit icon-color'
                },{
                    type:"delete",
                    text:"删除",
                    url:"/article/delete",
                    style: 'restful',
                    iconClass:'icon-delete icon-color'
                }]
            }; 
            var t = new table.Table('tb_articles',o);
            t.drawTable();
            $('#search').click(function(){
                t.search();
            });
        });
    });
</script>
{% endblock %}