@charset "utf-8";
/*
 * 监测点选择控件相关样式
 */
.monitor_select{
	width:780px;
    height:430px;
}
.selected_monitors{
	width:740px;
    height:140px;
	padding-left:10px;
}
.selected_monitors_input{
	height:130px !important;
	width:740px;
}

.selectdiv {
  width: 320px;
}
.tiptitle{
	float: left;
	font-size: 15px;
	color: #666;
	text-align: center;
}
.myinput{
border: 1px solid; border-color: #CCC #EEE #EEE #CCC;
background: #FFFFFF;
height: 25px;
}
