 html {height: 100%;}
 body { position: relative; min-height: 100%; font-family: "����","Microsoft Yahei", "Source Sans Pro", "Helvetica Neue",? Helvetica,? Arial,? sans-serif; color: #19242c; font-size: 14px; line-height: 1.5;}

body.index_background{
    background: url("../images/page-top-bg.png") no-repeat scroll center top #f3f5e1;
    color: #3f3f45;
    font-family: tahoma,arial,宋体;
    font-size: 12px;
}
.wrapper{margin: 0 auto;width: 960px;}
 a, a:hover, a:active, a:visited{text-decoration: none; color: #2575B4;}
 
 /*����*/
div.header{ width: 960px;height:auto;position:relative;margin-top:0px;}
.header a{ color: #e0cd80;font-size: 14px;}
/*style="float:left;position:relative;left:14%"*/
.header .logo{float: left; width: 260px; height: 45px; margin-top: 0px; }
.header .logo img{display: block; width: 100%; height: 100%;}
.header .rnav{float: right; line-height: 30px; padding: 0 10px; color: #fff; margin-top: 20px;}
.header .rnav li{float: left; padding: 0 20px; position: relative;}
.header .rnav li s{position: absolute; width: 1px; height: 14px; top: 10px; right: 0; background: #fff; background: -moz-linear-gradient(top, #2575B4, #fff 50%, #2575B4); background: -webkit-linear-gradient(top, #2575B4, #fff 50%, #2575B4);}
.header .rnav li a{color: #fff;}
.header .rnav .user-name a{color: #fff; display: inline-block; line-height: 30px; padding: 0 5px;}
.header .rnav .user-name a:hover{text-decoration: underline; }

div.main {padding:50px 0;}
div.main2 {float: left;width:100%;}
div.index {position:relative;float:left;}
.indexs ul li a{font-family: tahoma,arial,宋体;font-size: 16px;font-weight: 700;height:16px;
	color: #6c5631; line-height: 42px; padding: 0 5px;}
.contact-us-panel {   background: url("../images/home-sider-content-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 198px;
    margin: 30px 18px 30px 0;
    overflow: hidden;
    width: 270px;}
p.middle  {float: left;margin:10px 20px;}
div.photos {position:absolute;margin:-130px 260px }
div.content {float:left;position:relative;width:960px;border-left:1px solid #a19053;border-right:1px solid #a19053;}
div.contentbase {float:left;margin-top:50px;position:relative;width:960px;border-left:1px solid #a19053;border-right:1px solid #a19053;}
div.footer {float:left;background: url("../images/foot-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);height:auto;line-height: 47px;margin-bottom: 57px;width: 960px;overflow: hidden;padding-bottom: 43px;}
div.footer .footer-nav {
    padding: 0 20px;
}
div.footer .footer-nav2 {
	background-color:#3F1BD0;
    padding: 0 20px;
}
a.newfooter-nav {
    color: #ece5cb;
    text-decoration: none;
}
.footer .site-info {
    line-height: 20px;
}
.footer .site-info .site-r {
    float: right;
    text-align: right;
    width: 390px;
}

.site-info .site-r .email {
    padding-right: 0;
}

.footer .site-info .site-l {
    float: left;
    text-align: left;
    width: 550px;
}

.floatblock{
	background-color: #fff;
    display: block;
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 500px;
    z-index: 995;
} 
.popup-content-title {
    color: #333;
    font-weight: 700;
    margin-bottom: 15px;
}

li.list_item {
	display:inline-block;
    letter-spacing: normal;
    padding: 0 3px 29px;
    vertical-align: top;
    width: 226px;
    word-spacing: normal;
   }
ul.test_ul {
    letter-spacing: -0.31em;
    margin: 0 -3px 0 -13px;
    width: 1080px;
    word-spacing: -0.43em;
}
/**** ��ർ��  *****/
.side { width: 200px; position: fixed; top: 50px; left: 0; background: rgb(212, 236, 252); bottom: 0; z-index: 3; overflow: hidden; color: #004c7e; border-right: 3px solid #004C7E;}
.side a{color: #004c7e;}
.side a:hover{color: #fff; text-decoration: underline;}
.side .bd-logo{ line-height: 40px; text-align: center; color: #eee; font-size: 16px; background: #2575B4;}
.side-in{position: absolute; left: 0; right: 0; top: 0; bottom: 0; top: 40px; overflow: auto; overflow-x: hidden;}
.sd-menu{}
.sd-menu > li{padding:0; border-top: 1px solid #A3D1F3; margin-bottom: 10px;}
.sd-menu .tit{position: relative; height: 30px; cursor: pointer; padding: 0 20px 0 30px; line-height: 30px; font-size: 16px; background: url(../img/menu-bg-2.jpg) repeat-x #77BAE7;}
.sd-menu .tit .ico-left{position: absolute; left: 10px; top: 8px;}
.sd-menu .tit .arrow{position: absolute; height: 20px; width: 20px; line-height: 20px; text-align: center; right: 5px; top: 7px; color: #999; overflow: hidden; /*transition: all .2s; -moz-transition: all .2s; -webkit-transition: all .2s;*/}
.sd-menu .tit.hover .arrow{transform:rotate(90deg); -ms-transform:rotate(90deg); -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); -o-transform:rotate(90deg);}
.sd-menu .lv-2{padding: 5px 10px 5px 30px; display: block;}
.sd-menu .lv-2 a{display: block; line-height: 24px; }
.sd-menu .lv-2 a.cur{color: #33ADFF; text-decoration: underline;}

/*���м*/
.l-bread{font-size: 16px; padding-bottom: 10px; border-bottom: 1px solid #ACD0EE;}
.l-bread .ico{float: left; margin: 5px 10px 0 0;}
.l-bread li{float: left; padding-right: 20px; position: relative;}
.l-bread li a{color: #19242c;}
.l-bread li a:hover, .l-bread li.cur a{color: #33adff;}
.l-bread li:after{position: absolute; content: '>'; right: 5px; top: 0; font-family: Arial;}
.l-bread li.last:after{display: none;}

/*l-tabs*/
.l-tabs{border-bottom: 2px solid #ddd; margin-bottom: 20px;}
.l-tabs ul{margin: 0;}
.l-tabs li{float: left; position: relative;}
.l-tabs li a{display: block; padding: 10px; color: #999; text-align: center; font-weight: bold;}
.l-tabs li.cur:after{content: ''; display: block; position: absolute; width: 100%; height: 2px; background: #2575b4; bottom: -2px; left: 0;}
.l-tabs li.cur a{color: #2575b4;}

/*percent width*/
.l-pw-2{width: 50%;}

/*��ť*/
.btn{display: inline-block;}
.btn-default { background-color: #ffffff; border-color: #cccccc; color: #333333; }
.btn-default:hover, .btn-default:focus{background: #fafafa; color: #333; outline: none !important;}
.btn-default:active{background: #e6e6e6; outline: none !important;}

.btn-primary { background-color: #278DE0; border: none; color: #ffffff; }
.btn-primary:hover, .btn-primary:focus{background: #1C76BF; outline: none !important;}
.btn-primary:active{background: #155a93; outline: none !important;}

/*form*/
.form-control{box-shadow: 0 0 0;}
.form-control:focus{border-color: #66afe9; box-shadow: 0 0 0;}

/*����*/
.a-link:hover{text-decoration: underline;}

/*no wrap*/
.nowrap{white-space: nowrap; display: inline-block;}


 /*������*/
 .content-wrap{position: relative; margin-top: 50px; margin-left: 200px; right: 0; bottom: 0;}
 .wrap{padding: 10px;}
 .wrap-mt{color: #000; margin: 0; font-size: 24px; border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 20px;}


/* �Զ������������������ */
.tool-auto-div {max-width: 400px; position: absolute; left: 55px; top: 38px; z-index: 2222; z-index: 999; display: none; overflow: hidden;}
.tool-auto-div li { height: 38px; line-height: 38px; white-space: nowrap;}
.tool-auto-div ul { margin: 0; padding: 0; border: 1px solid #ddd; box-shadow: 0 1px 4px rgba(0, 0, 0, .065); background-color: #fff; list-style: none; }
.tool-auto-div li { text-align: center; cursor: pointer; padding: 0 5px; border-bottom: 1px dotted #ccc;}
.tool-auto-div li:hover,
.tool-auto-div li.hover { color: #fff; background-color: #428bca; border-color: #428bca; }

/*�ϴ�ͼƬ*/
.tool-upbox{position: relative;}
.tool-upbox .img{max-width: 100%; margin: 0 auto;}
.tool-upbox .btn-bar{padding: 5px 0;}
.tool-upbox .btn-bar > div{float: left;}
.tool-upbox .btn{position: relative; overflow: hidden; line-height: 30px; padding: 0 10px; color: #fff; background-color: #ff965f; cursor: pointer; border-radius: 0;}
.tool-upbox .btn-add{display: inline-block; position: relative; overflow: hidden; line-height: 30px; padding: 0 10px; color: #fff; background-color: #ff965f; cursor: pointer; border-radius: 0; vertical-align: middle;}
.tool-upbox .btn input{position: absolute; font-size: 40px; right: 0; top: 0; opacity: 0; filter:alpha(opacity=0); cursor: pointer;}

/*�ϴ���ť*/
.tool-upbtn{position: relative; overflow: hidden; cursor: pointer; display: block;}
.tool-upbtn .file{position: absolute; font-size: 30px; right: 0; bottom: 0; opacity: 0; filter: alpha(opacity=0); cursor: pointer;}

/*upload dialog*/
.tool-updlg{width: 400px;}
.tool-updlg .up-loading{padding: 10px; text-align: center; display: none;}
.tool-updlg .up-loading i{display: inline-block; width: 32px; height: 32px; background: url(/static/common/img/loading.gif) no-repeat;}
.tool-updlg .up-msg{padding: 10px; font-weight: 14px; display: none;}
.tool-updlg .up-msg img{display: block; width: 100%; height: auto;}
.tool-updlg .up-btn{padding: 10px; text-align: center;}
.tool-updlg .up-btn-hide{height: 0px; padding: 0; overflow: hidden;}
.tool-updlg .up-btn a{}
.tool-updlg .up-btm{padding: 10px; border-top: 1px solid #ddd;}
.tool-updlg .up-btm a{float: right; margin-left: 10px; }


/*ͨ�ð�ť*/
.u-btn { border-radius: 0; border-color: #ff965f; display: inline-block;}
.u-btn-primary { color: #fff; background-color: #ff965f; }
.u-btn-disable{background: #ccc !important; border-color: #ccc !important; cursor: default;}
.u-btn-default:hover { color: #fff; background: #444; }

/*ͨ���б�*/
.l-table { padding: 1px; table-layout: fixed;}
.l-table tr td { text-align: center; border: none !important;}
.l-table tr:nth-child(2n+1) > td{background: #F4F7F9 !important;}
.l-table tr:hover > td{background: #DFE8EE !important;}
.l-table th { text-align: center; font-weight: bold;}
.l-table .imp { color: #f00; }
.l-table .info-title { width: 100px; font-weight: bold; color: #428bca; }
.l-table .self-title { font-weight: bold; color: #428bca; }
.l-table .col-input { width: 40%; margin-left: 28px; float: none; }
.l-table-tran tr:nth-child(2n+1) td,
.l-table-tran tr:hover td{background: transparent !important;}

/*sform*/
.sform{margin-bottom: 10px; }
.sform input,
.sform select{width: 150px !important; font-size: 12px;}
.sform .form-group{margin-right: 10px; margin-bottom: 10px; white-space: nowrap; }
.sform label{font-weight: normal; color: #999;}

/*l-form*/
.l-form{padding: 0 20px; margin-bottom: 20px;}
.l-form fieldset{margin-bottom: 20px;}
.l-form legend{font-size: 14px; color: #999; font-weight: bold; border: none; margin-bottom: 10px;}
.l-form label{font-weight: normal; white-space: normal;}
.l-form .row{padding: 5px 0; margin: 0;}
.l-form .row:after{content: ''; display: block; width: 0; height: 0; overflow: hidden; clear: both;}
.l-form .col{float: left; width: 33.333333%; min-height: 30px; padding: 0 10px;}
.l-form .col-3{width: 100%;}
.l-form .col-2{width: 50%;}
.l-form .label{float: left; width: 150px; text-align: right; color: inherit; font-size: inherit; line-height: 30px; padding: 0; font-weight: normal; color: #999;}
.l-form .area{margin-left: 160px;}
.l-form .text{width: 90%; min-width: 80px;}
.l-form .text-read{line-height: 30px;}
.l-form .opt-bar{padding: 10px; text-align: center; border-top: 1px solid #ddd;}
.l-form .opt-bar a{margin: 0 10px;}
.l-form .imp{color: #a94442; font-family: '����';}
.l-form .error .tip{color: #a94442;}
.l-form .error .form-control{border-color: #a94442;}
.l-form .up-box img{display: inline-block; width: 30px; height: 30px; line-height: 14px; font-size: 12px;}
.l-form .img-min{display: inline-block; width: 30px; height: 30px;}
.l-form .input-group{}
.l-form .input-group .c3{display: inline-block; width: 33%; float: left;}
.l-form .hr{}
.l-form-narrow .label{float: none; text-align: left; display: block;}
.l-form-narrow .area{margin-left: 0;}

@media screen and (max-width:1300px){
    .l-form .label{float: none; text-align: left; display: block;}
    .l-form .area{margin-left: 0;}
}


/*ͨ�÷�ҳ��ʽ*/
.l-paging{border-top: 1px solid #ddd; padding: 10px;}
.paging{text-align: center; text-align: center; }
.paging a { padding: 2px 10px; }
.paging .ins { width: 75px; line-height: 20px; height: 30px; padding: 5px; border: 1px solid #ccc; border-radius: 4px; text-align: center; display: inline-block; vertical-align: middle;}
.paging .f-color { color: #428bca; }
.paging .btn { margin: 0 20px; padding: 0 10px; line-height: 30px;}


/*form*/
.form-control[disabled].disabled, .form-control[readonly].readonly, fieldset[disabled].readonly .form-control { background-color: #fff; cursor: text; opacity: 1; }

/*artdialog ����*/

.content_tab_title{ margin:10px; /*font-size:24px; text-decoration:none; */; }
.content_tab_title_a{ font-size:24px; float: left; margin: 10px 0 0 12px; }


.content_tab_title_line{ height:50px; /*font-size:24px; text-decoration:none; */; }

.form-inline .width_100px{ width: 100px !important; }

/*fix loading*/
.fix-loading{position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 999999999; background: transparent;}
.fix-loading .percent-bar{display: block; width: 100%; overflow: hidden;}
.fix-loading .percent{width: 0%; height: 5px; background: #EEEEEE; opacity: .5; -webkit-trasition: all .2s; -moz-trasition: all .2s; trasition: all .2s;}
.fix-loading .cover{position: absolute; left: 200px; top: 50px; right: 0; bottom: 0; background: #fff;}


/*tip fall*/
.tip-fall{position: fixed; width: 800px; left: 50%; top: 0; margin-left: -400px; padding: 10px 0px;  text-align: center; border-radius: 4px; overflow: hidden; box-shadow: 0 0 5px 0px rgba(0,0,0,.3);}
.tip-fall .ico-status{position: absolute; left: 10px; top: 10px; width: 24px; height: 24px; text-align: center; line-height: 24px; z-index: 10;}
.tip-fall .close{position: absolute; right: 10px; top: 10px; width: 24px; height: 24px; text-align: center; line-height: 24px; z-index: 10;}
.tip-fall .con{padding: 0 30px; line-height: 24px;}
.tip-fall.s-success{background: #ADD6AE; background-image: -webkit-linear-gradient(to bottom, #ADD6AE 0px, #91C892 100%); background-image: -moz-linear-gradient(to bottom, #ADD6AE 0px, #91C892 100%); background-image: linear-gradient(to bottom, #ADD6AE 0px, #91C892 100%); border: 1px solid #56A958; color: #3c763d;}
.tip-fall.s-error{background: #f2dede; background-image: -webkit-linear-gradient(to bottom, #f2dede 0px, #e7c3c3 100%); background-image: -moz-linear-gradient(to bottom, #f2dede 0px, #e7c3c3 100%); background-image: linear-gradient(to bottom, #f2dede 0px, #e7c3c3 100%); border-color: #dca7a7; color: #a94442;}


